/* Write your CSS here */
.bg-cont {
  background-color: white;
  background-size: cover;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-cont {
  background-image: linear-gradient(to bottom, #303150, #b5b9ff);
  background-size: cover;
  border-radius: 10px;
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 80px;
  justify-content: center;
  align-items: center;
}
